<!DOCTYPE html>
<html lang="<%- language %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>
  <link rel="icon" href="./../favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="./../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../styles/styles.css">

  <%- include('analytics') %>
</head>

<body>
  <div class="container" id="mainBox"><%- content %></div>

  <script type="application/json" id="i18nResource"><%- i18nResource %></script>
  <script type="application/json" id="bootupData"><%- bootupData %></script>
  <script src="./../jscripts/bundle.js"></script>
</body>
</html>